label{
    /*
    align-items: left;
    text-align: left;
    border-right: 100px white solid;*/
    padding-right: 50px;
}
input{
    /*float: right;*/
    
}

.Form_1{
    padding: 100px;
}

div{
    
}
